<div class="action-demos">
  <ul style="background-color: {{backgroundColor}};">
    <li>
      <button onclick={{route-action "increaseIncrementable"}}>ON CLICK HANDLER</button>
    </li>
  </ul>

  <h1>{{incrementable}}</h1>
</div>
